@model ContactModel



        <div class="container-fluid bg-secondary mb-5">

        <div class="container-fluid pt-5">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Liên hệ với chúng tôi</span></h2>
            </div>
            <div class="row px-xl-5">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" maxlength="30" name="name" class="form-control" id="name" placeholder="Họ tên" required="required" data-validation-required-message="Bạn chưa nhập họ tên" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" maxlength="80" name="receiver" class="form-control" id="email" value="@ViewBag.email" placeholder="Email" required="required" data-validation-required-message="Bạn chưa nhập email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" maxlength="50" name="subject" class="form-control" id="subject" placeholder="Tiêu đề" required="required" data-validation-required-message="Bạn chưa nhập tiêu đề" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea maxlength="1000" class="form-control" name="message" rows="6" id="message" placeholder="Lời nhắn" required="required" data-validation-required-message="Hãy nhập lời nhắn"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                                    GỬI
                                </button>
                            </div>
                            <p class="text-danger">@ViewBag.success</p>
                            <p class="text-danger">@ViewBag.Error</p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-5">
                    <h5 class="font-weight-semi-bold mb-3">Minimart - Cửa hàng tiện lợi</h5>
                    <p>Chúng tôi sẽ trả lời mail của bạn sớm nhất trong vòng 24h</p>
                    <div class="d-flex flex-column mb-6">
                        <h5 class="font-weight-semi-bold mb-3">Cửa hàng</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Thủ Khoa Huân, Thuận An, Bình Dương</p>
                        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>minimart@gmail.com</p>
                        <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 123 456789</p>
                    </div>
                </div>
            </div>
        </div>

<div class="row">
    <!-- Cột chứa bản đồ và mô tả -->
    <div class="col-sm-5 col-md-5">
        @if (!string.IsNullOrEmpty(@Model.Map))
        {
            @Html.Raw(@Model.Map)
        }
        @if (!string.IsNullOrEmpty(@Model.Description))
        {
            <p>@Html.Raw(Model.Description)</p>
        }
        </div>
    </div>

    <!-- Cột chứa thông tin liên hệ -->
@*     <div class="col-sm-4">
        <div class="address">
            <h5><b>Name: @Model.Name</b></h5>
            <h5>Email: <a href="mailto:@Model.Email">@Model.Email</a></h5>
            <h5>Phone: <a href="tel:@Model.Phone">@Model.Phone</a></h5>
            <
        </div>
    </div>
 *@
    <!-- Cột chứa Facebook Page -->
    <div class="col-md-4">
        <div class="fb-page"
             data-href="https://www.facebook.com/SieuThiMini"
             data-tabs="message"
             data-width="340"
             data-height="400"
             data-small-header="false"
             data-adapt-container-width="true"
             data-hide-cover="false"
             data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/SieuThiMini" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/SieuThiMini">Sieu Thi Mini </a>
            </blockquote>
        </div>
    </div>


<!-- Thêm SDK Facebook -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v16.0"
        nonce="YourNonceValue"></script>
