@using Shopping_Tutorial.Models.ViewModels;
@model CartItemViewModel
@{
    ViewData["Title"] = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal total = 0;

    decimal subtotal = 0;
}

<section id="cart_items">
    <div class="container">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Trang Chủ</a></li>
                    <li class="active">Giỏ Hàng</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Sản Phẩm</td>
                            <td class="description"></td>
                            <td class="price">Giá</td>
                            <td class="quantity">Số Lượng</td>
                            <td class="total">Tổng Cộng</td>
                            <td></td>
                        </tr>
                    </thead>

                    <tbody>

                        @if (Model.CartItems.Count > 0)
                        {

                            foreach (var item in Model.CartItems)
                            {
                                subtotal = item.Quantity * item.Price; //số lượng * giá
                                total += subtotal;

                                <tr>
                                    <td class="cart_product">
                                        <a href=""><img src="~/media/products/@item.Image" alt="" width="70px" height="100px"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.ProductName</a></h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Price.ToString("#,##0 VNĐ")</p>
                                    </td>
                                    <td class="">
                                        <a class="btn btn-default btn-sm" asp-action="Increase" asp-controller="Cart" asp-route-id="@item.ProductId"> + </a>
                                        <input class="btn btn-default btn-sm" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
                                        <a class="btn btn-default btn-sm" asp-action="Decrease" asp-controller="Cart" asp-route-id="@item.ProductId"> - </a>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("#,##0")</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" asp-action="Remove" asp-controller="Cart" asp-route-id="@item.ProductId"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td rowspan="5">
                                    Tổng Tiền: <p class="cart_total_price">@Model.GrandTotal.ToString("#,##0")</p>
                                    <form>
                                        Mã Giảm Giá: <input type="text" class="form-control coupon-value" />
                                        <span class="text text-success">@Model.CouponCode</span> <br />
                                        <input type="button" value="Áp Dụng" class="btn btn-sm btn-primary btn-apply-coupon" />
                                    </form>
                                    Phí Vận Chuyển: <p class="cart_total_price">@Model.ShippingCost.ToString("#,##0")</p>
                                    <p><a asp-action="DeleteShipping" asp-controller="Cart">Xóa Phí Vận Chuyển</a></p>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <label>Chọn Tỉnh Thành</label>
                                        <select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
                                            <option value="0">Tỉnh Thành</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Chọn Quận Huyện</label>
                                        <select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
                                            <option value="0">Quận Huyện</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Chọn Phường Xã</label>
                                        <select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
                                            <option value="0">Phường Xã</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-default btn-add-shipping">Tính Phí Vận Chuyển</button>
                                </td>

                                <td><a class="btn btn-danger btn-sm" asp-action="Clear" asp-controller="Cart"> Xóa Giỏ Hàng </a></td>

                            </tr>
                            <tr>
                                @if (User.Identity?.IsAuthenticated ?? false)
                                {

                                    <td>
                                        @if (@Model.ShippingCost <= 0)
                                        {
                                            <a disabled="disabled" onclick="return confirm('Xác nhận đặt hàng?')" class="btn btn-primary btn-sm" asp-action="Checkout" asp-controller="Checkout"> Thanh toán COD </a>

                                            <br />

                                            <span class="text text-danger">Yêu cầu tính phí vận chuyển trước khi đặt hàng.</span>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary btn-sm" asp-action="Checkout" asp-controller="Checkout"> Thanh toán COD </a>
                                        }
                                        <form method="POST" asp-action="CreatePaymentUrl" asp-controller="Payment">
				<input type="hidden" name="FullName" value="@User.Identity.Name" />
				<input type="hidden" name="Amount" value="@Model.GrandTotal" />

				<input type="hidden" name="OrderInfo" value="Thanh toán đặt hàng qua Momo" />


				<br />
				<button class="btn btn-danger" name="PayUrl" type="submit">Thanh toán với MoMo</button>
</form>

                                        <form method="POST" asp-action="CreatePaymentUrlVnpay" asp-controller="Payment">
                                            <input type="hidden" name="Name" value="@User.Identity.Name" />
                                            <input type="hidden" name="Amount" value="@Model.GrandTotal" />
                                           
                                            <input type="hidden" name="OrderType" value="other" />
                                            <input type="hidden" name="OrderDescription" value="Thanh toán đặt hàng qua Vnpay tại Minimart" />
                                            <button class="btn btn-success" type="submit">Thanh toán Vnpay</button>

                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    <h4>Giỏ hàng của bạn trống.</h4>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
</section>
@section Scripts {
    <script>

        $(".btn-apply-coupon").click(function () {
            var coupon_value = $(".coupon-value").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCoupon", "Cart")",
                data: { coupon_value: coupon_value },
                success: function (result) {
                    if (result.success) {

                        Swal.fire(result.message);
                        location.reload();
                    } else {

                        Swal.fire(result.message);
                    }
                }

            });
        });
    </script>
    <script>

        $(".btn-add-shipping").click(function () {
            var tinh = $("#tinh").find('option:selected').text();
            var quan = $("#quan").find('option:selected').text();
            var phuong = $("#phuong").find('option:selected').text();

            if (tinh == '' || quan == '' || phuong == '') {
                Swal.fire("Không được bỏ trống.");
            } else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetShipping", "Cart")",
                    data: { tinh: tinh, quan: quan, phuong: phuong }, // Gửi dữ liệu đến server

                    success: function (result) {
                        // Xử lý kết quả trả về
                        if (result) {

                            location.reload();

                        }
                    }

                });
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            //Lấy tỉnh thành
            $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                if (data_tinh.error == 0) {
                    $.each(data_tinh.data, function (key_tinh, val_tinh) {
                        $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                    });
                    $("#tinh").change(function (e) {
                        var idtinh = $(this).val();
                        //Lấy quận huyện
                        $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                            if (data_quan.error == 0) {
                                $("#quan").html('<option value="0">Quận Huyện</option>');
                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                $.each(data_quan.data, function (key_quan, val_quan) {
                                    $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                });
                                //Lấy phường xã
                                $("#quan").change(function (e) {
                                    var idquan = $(this).val();
                                    $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                        if (data_phuong.error == 0) {
                                            $("#phuong").html('<option value="0">Phường Xã</option>');
                                            $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                            });
                                        }
                                    });
                                });

                            }
                        });
                    });

                }
            });
        });
    </script>
}
